footer {
    height: 100px;
    background-color: #000000;
    color: #dedede;
    padding: 20px;
}

footer a:link {
    color: #ffffff;
}

footer a:visited {
    color: #ffffff;
}

footer a:hover {
    color: #ffffff;
}